{% extends 'base.html' %}


{% block title %}
'Ello there mate title
{% endblock title %}



{% block content %}
<!-- <h1>'Ello there mate</h1> -->
<div id="tweets">

</div>



<script>
    const con = new XMLHttpRequest()
    const responseType = 'json'
    const method = 'GET'
    const url = '/tweets'


    const element = document.getElementById("tweets")
    let l = "";
    con.responseType = responseType
    con.open(method,url)
    con.onload = function () {
        let listResponse = con.response.response
        for(i = 0;i<listResponse.length;i++){
            l += listResponse[i].id + listResponse[i].content + "\n"
        }
        element.innerHTML = l
    }
    con.send()
</script>


{% endblock content %}
