{% extends 'base.html' %}


{% block title %}
'Ello there mate title
{% endblock title %}



{% block content %}
<!-- <h1>'Ello there mate</h1> -->
<div id="tweets">

</div>



<script>
    const con = new XMLHttpRequest()
    const responseType = 'json'
    const method = 'GET'
    const url = '/tweets'

    function formatTweetElement(tweet) {
        var formatedTweet =  "<div class='mb-4 tweet' id='tweet-" + tweet.id + "' ><p>" + tweet.content + "</p></div>"
        return formatedTweet
    }

    const element = document.getElementById("tweets")
    let l = "";
    con.responseType = responseType
    con.open(method,url)
    con.onload = function () {
        let listResponse = con.response.response
        for(i = 0;i<listResponse.length;i++){
            l += formatTweetElement(listResponse[i])
        }
        element.innerHTML = l
    }
    con.send()
</script>


{% endblock content %}
