{% extends 'base.html' %}


{% block title %}
'Ello there mate title
{% endblock title %}



{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form action="/create-tweet" method="POST" class="form" id="tweet-form">
            <input type="hidden" value="/" name="next"/>
            {% csrf_token %}
            <textarea class="form-control" name="content" id="clear" placeholder="Your Tweet"></textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<!-- <h1>'Ello there mate</h1> -->
<div class="row">
    <div id="tweets">
    </div>
</div>



<script>

    function HandleLike(tweet_id,count) {
        console.log(tweet_id + " " + count)
        count++
    }

    function LikeButton(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=HandleLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " LIKE</button>"
    }

    function formatTweetElement(tweet) {
        var formatedTweet =  "<div class='col-12 border py-3 mb-4 tweet' id='tweet-" + 
        tweet.id + "' ><p>" + tweet.content + "</p>  " + 
        LikeButton(tweet)
        + "  </div>"
        return formatedTweet
    }

    function Loadtweets(element) {
        const con = new XMLHttpRequest()
        const responseType = 'json'
        const method = 'GET'
        const url = '/tweets'
        let l = "";
        con.responseType = responseType
        con.open(method,url)
        con.onload = function () {
            let listResponse = con.response.response
            for(i = 0;i<listResponse.length;i++){
                l += formatTweetElement(listResponse[i])
            }
            element.innerHTML = l
        }
        con.send()
    }
    const element = document.getElementById("tweets")
    Loadtweets(element)

    function handleTweetFormEvent(event){
        event.preventDefault()
        const form = event.target
        const formData = new FormData(form)
        // for(var item of formData.entries()){
            // console.log(item)
        // }
        const endPoint = form.getAttribute('action')
        const method = form.getAttribute('method')
        // console.log(endPoint + " \n" + method)
        // console.log(form)
        const xhr  = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method,endPoint)
        xhr.onload = function () {
            const serverResponse = xhr.response
            // console.log(serverResponse)
            // const element = document.getElementById("tweets")
            // Loadtweets(element)
            // const element2 = document.getElementById("clear")
            // element2.value = ""
            const response = xhr.response
            const newTweetElement = formatTweetElement(response)
            element.prepend(newTweetElement)
        }
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.send(formData)
    }
    const tweetFormElement = document.getElementById('tweet-form')

    tweetFormElement.addEventListener('submit',handleTweetFormEvent)
// 
</script>


{% endblock content %}
